.container {
    max-width: 500px;
    margin: 40px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #1e3a8a;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

lightning-button.custom-button {
    align-self: center;
    --slds-c-button-brand-color-background: #1e40af;
    --slds-c-button-brand-color-background-hover: #1e3a8a;
    --slds-c-button-brand-color-border: #1e40af;
    --slds-c-button-radius-border: 6px;
    --slds-c-button-font-weight: bold;
    --slds-c-button-spacing-inline: 24px;
    --slds-c-button-spacing-block: 12px;
    font-size: 16px;
}


table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    border: 1px solid #e5e7eb;
    padding: 0.75rem;
    text-align: center;
}

th {
    background-color: #1e40af;
    color: white;
}

tr:nth-child(even) {
    background-color: #f3f4f6;
}